<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{% static 'css/success.css'%}">
</head>
<body>
    <div class="main">
        <img src="{% static 'assets/success.svg' %}" alt="Success-tick">
        <h1 id="status">Success</h1>
    </div>
    <h3 id="message">Successfully Saved the Entry</h3>
    <div class="continue-button">
        <a id="button" href="{% url 'index' %}">Click Here to Continue</a>
    </div>
</body>
</html>